body{
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#dark{
    position: absolute;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 40vh;
    background-color: black;
    color: white;
    z-index: 10;
}

a{
    text-decoration: none;
    color: black;
}
#opening{
    position: absolute;
    width: 100vw;
    height: 100vh;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#lovehips{
    position: relative;
    width: 100%;
    height: 100%;
    
    
    cursor: pointer;
    
    
}

#wrapper{
    
}

#opening{
    position: absolute;
    width: 100vw;
    height: 100vh;
    
    background: linear-gradient(to right, red 0%, red 48%,white 50%,black 52%, black 100%);
    z-index: 1;
    transition: 1s;
    
}

#lovehipspages{
    position: absolute;
    width: 100%;
    height: 0vh;
    
    bottom: 0px;
   
    transition: 1s;
    background-color: white;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.back{
    position: sticky;
    top:1vh;
    left: 0px;
    cursor: pointer;
    font-size: 3vw;
    z-index: 9;
    color: white;
    background-color: black;
}

img{z-index: 8}
.head{
    position: sticky;
    top:0px;
    left: 0px;
}

.info{
    max-width: 400px;
}

#about{
    border-right: 1px solid red;
    padding: 1vw;
    transition: 1s;
    
}

#works{
    border-right: 1px solid red;
    padding: 1vw;
    overflow-y: scroll;
    transition: 1s;
}

.work{
    font-size: 12px;
    
    padding-bottom: 2vh;
}
.worksmallimg{
    position: relative;
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.works{
    
    
    background-color: white;
    
    padding: 0.5vw;
    overflow-y: scroll;
    cursor: pointer;
    margin-bottom: 3vh;
    
    
    
}

#sangha{position: absolute;
    top:0px;
    right: -10%;
    width: 0vw;
    height: 96vh;
    transition: 1s;}

.name{
    font-size: 15px;
    background-color: black;
    color: white;
    
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    
}

.sisowork{
    width: 100%;
    height: auto;
    background-color: black;
    padding: 1vw;
}





.previouswork{
    width: 100%;
    height: 70%;
    background-color: white;
}


.videowrapper{
    max-width: 23vw;
}

#video{
    border-right: 1px solid red;
    padding: 1vw;
    overflow-y: scroll;
    transition: 1s;
}

#siso{
    position: relative;
    width: 100%;
    height: 100%;
    
    
    cursor: pointer;
    
    
}

#sisopages{
    position: absolute;
    width: 100vw;
    height: 0vh;
    
    bottom: 0px;
    background-color: black;
    transition: 1s;
    
    display: grid;
    grid-template-columns: 25vw 1fr;
}

#sisotext{
   position: relative;
    width: 100%;
    height: 100%;
    border-right: 1px solid white;
}

#sisoimg{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    
}

#book{
    position: absolute;
    width:  70%;
    height: 150%;
    top:-40vh;
    left:-52vw;
    
    
    
    
    
    
    overflow-x: hidden;
    overflow-y: auto;
    
    
    transform: rotate(-90deg);
   transform-origin: right top;
    
}


.bookimg{
    width: auto;
    height: 60%;
    
    
    
}

.partyimg{
    position: relative;
    left: 0.5vw;
    top: 70vh;
    width: 8vw;
    height: 8vw;
    
    display: inline-block;
    
    
    margin-right: 0.5vw;
    overflow: hidden;
}

.smallimg{
    position: relative;
    width: 150%;
    top:-10%;

    left: -20%;
    filter: grayscale();
}